@page "/helpers"

<PageTitle>Blazor Hooked - Helpers</PageTitle>

<h1>Loader</h1>

<p>A common use for a reducer is to track an async request. In-fact is so common that to save you some more boiler plate, the <code>Loader</code> component is built in.</p>
<CodeDemo Snippet=@typeof(Loader_snip) />