@using BlazorHooked

@code {
    public record UserState(string? Username, string? Email, bool LoggedIn);

    public record State
    {
        public UserState User { get; init; } = new UserState(null, null, false);
    }

    private record Login();
    private record Logout();

    private Reducer<UserState> UserReducer() => (s, a) => a switch
    {
        Login l => s with { LoggedIn = true, Username = "John", Email = "John@test.com" },
        Logout => s with { LoggedIn = false, Email = null, Username = null },
        _ => s,
    };

    private Reducer<State> RootReducer(Reducer<State> reducer)
        => reducer.CombineReducer((s, r) => s with { User = r(s.User) }, UserReducer());

    private record Props
    {
        public UserState User { get; init; } = null!;

        public Action ButtonAction { get; init; } = null!;
    }

    private Props MapDispatchToProps(Props context, DispatchAction d) => context with
    {
        ButtonAction = context.User.LoggedIn ? d(new Logout()) : d(new Login()),
    };
}

<ConnectStore RootReducer=@RootReducer InitialStateFactory=@(() => new State())>
    <p>Outside the store</p>
    <Connect TProps=Props TState=State Context="connect">
        <p>In the store</p>
        @{
            connect(s => new Props { User = s.User }, MapDispatchToProps)(props =>
            {
                return @<div>
                    <dl>
                        <dt>Username</dt>
                        <dd>@props.User?.Username</dd>
                        <dt>Email</dt>
                        <dd>@props.User?.Email</dd>
                    </dl>
                    <button class="btn btn-primary" @onclick=@props.ButtonAction>
                        @(props.User?.LoggedIn ?? false ? "Logout" : "Login")
                    </button>
                </div>;
            });
        }
    </Connect>
</ConnectStore>
