@page "/counter"

<PageTitle>Counter</PageTitle>
<h1>Counter</h1>
<Hook>
    @{
        var (currentCount, setCount) = context.UseState(1);
        var (message, setMessage) = context.UseState<string>("Click me");

        <p>
            <label class="form-label">Button Text</label>
            <input class="form-control" type="text" @onkeyup=@(args => setMessage(message + args.Key)) />
        </p>

        <p role="status">Current count: @currentCount</p>
        <button class="btn btn-primary" @onclick=@(() => setCount(currentCount + 1))>@message</button>
        <button class="btn btn-primary" @onclick=@Reset(setMessage, setCount)>Reset</button>
    }
</Hook>

@code {
    Action Reset(SetState<string> setMessage, SetState<int> setCount) => () =>
    {
        setMessage("Click me");
        setCount(1);
    };
}