@page "/fundementals"

<h3><code>HookContext</code></h3>
<p>
    Hooks are accessed via a <code>HookContext</code> which is provided by the <code>Hook</code> component.
    <code>HookContext</code> is scoped within a <code>Hook</code>, so you can have multiple <code>Hook</code>s 
    per component if you really wanted too.
</p>
<pre>
<code class="language-razor">
 &lt;Hook&gt;
    @@{
        context.UseX();
    }
    &lt;div&gt;Hello&lt;/div&gt;
&lt;/Hook&gt;
</code>
</pre>
<p>You can rename the context to something more helpful and/or to avoid collisions.</p>
<pre><code class="language-razor">
&lt;Hook Context="Hook"&gt;
    @@{
        Hook.UseX();
    }
    &lt;div&gt;Hello&lt;/div&gt;
&lt;/Hook&gt;
</code></pre>
<BSLink href="hooks" IsButton="true" Color="BSColor.Primary">Hooks</BSLink>