@page "/helpers"

<PageTitle>Blazor Hooked - Helpers</PageTitle>

<h1>Loader</h1>

<p>A common use for a reducer is to track an async request. In-fact is so common that to save you some more boiler plate, the <code>Loader</code> component is built in.</p>
<iframe width="100%" height="500px" src="https://blazorrepl.telerik.com/repl/embed/QmaQkbwu08as8fCn08?editor=true&result=true&errorList=false"></iframe>
