@inherits LayoutComponentBase

<HxNavbar ColorScheme="NavbarColorScheme.Dark" Color="ThemeColor.Primary">
    <HxNavbarBrand>Blazor Hooked</HxNavbarBrand>
    <HxNavbarToggler />
    <HxNavbarCollapse>
        <HxNav CssClass="me-auto mb-2 mb-lg-0">
            <HxNavLink Href="">Home</HxNavLink>
            <HxNavLink Href="hooks">Hooks</HxNavLink>
            <HxNavLink Href="helpers">Helpers</HxNavLink>
            <HxNavLink Href="store">Store</HxNavLink>
            <HxNavLink Href="https://github.com/dibble-james/blazor-hooked">GitHub</HxNavLink>
        </HxNav>
    </HxNavbarCollapse>
</HxNavbar>

<main>
    <article class="container">
        @Body
    </article>
</main>

<HxNavbar Color="ThemeColor.Primary">
    <div class="container">
        <small style="text-align: center; width: 100%; padding: 0.5rem">&copy; 2022 James Dibble</small>
    </div>
</HxNavbar>