@inherits LayoutComponentBase

<BSNavbar IsHeader="true" IsDark="true">
    <BSContainer Container="Container.Fluid">
        <BSNavbarBrand>Blazor Hooked</BSNavbarBrand>
    </BSContainer>
</BSNavbar>

<main>
    <article>
        <BSContainer>
            @Body
        </BSContainer>
    </article>
</main>
