@inherits LayoutComponentBase

<BSNavbar IsHeader="true" IsDark="true" IsStickyTop="true" style="background: #212529">
    <BSContainer Container="Container.Fluid">
        <BSNavbarBrand>Blazor Hooked</BSNavbarBrand>
        <BSCollapse IsInNavbar="true">
            <Toggler>
                <BSNavbarToggle/>
            </Toggler>
            <Content>
                <BSNav MarginEnd="Margins.Auto" MarginBottom="Margins.Small" Class="mb-lg-0">
                    <BSNavItem Url="">Home</BSNavItem>
                    <BSNavItem Url="hooks">Hooks</BSNavItem>
                    <BSNavItem Url="helpers">Helpers</BSNavItem>
                </BSNav>
            </Content>
        </BSCollapse>
    </BSContainer>
</BSNavbar>

<main>
    <article>
        <BSContainer>
            @Body
        </BSContainer>
    </article>
</main>
<BSNavbar IsDark="true" style="background: #212529">
    <BSContainer Container="Container.Fluid">
        <small style="text-align: center; width: 100%; padding: 0.5rem">Copyright James Dibble 2022</small>
    </BSContainer>
</BSNavbar>