@inherits LayoutComponentBase

<BSNavbar IsHeader="true" IsDark="true">
    <BSContainer Container="Container.Fluid">
        <BSNavbarBrand>Blazor Hooked</BSNavbarBrand>
        <BSCollapse IsInNavbar="true">
            <Toggler>
                <BSNavbarToggle/>
            </Toggler>
            <Content>
                <BSNav MarginEnd="Margins.Auto" MarginBottom="Margins.Small" Class="mb-lg-0">
                    <BSNavItem Url="">Home</BSNavItem>
                    <BSNavItem Url="/fundementals">Fundementals</BSNavItem>
                    <BSNavItem Url="/hooks">Hooks</BSNavItem>
                    <BSNavItem Url="/helpers">Helpers</BSNavItem>
                </BSNav>
            </Content>
        </BSCollapse>
    </BSContainer>
</BSNavbar>

<main>
    <article>
        <BSContainer>
            @Body
        </BSContainer>
    </article>
</main>
